aniso8601==9.0.1
asgiref==3.6.0
cfgv==3.3.1
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.1
django-extensions==3.2.1
Faker==18.7.0
filelock==3.12.0
graphene==3.2.2
graphene-django==3.0.2
graphql-core==3.2.3
graphql-relay==3.2.0
identify==2.5.24
nodeenv==1.7.0
platformdirs==3.5.0
pre-commit==3.3.1
promise==2.3
psycopg2==2.9.6
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3
typing_extensions==4.5.0
virtualenv==20.23.0
